<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <a href="/leaderboard" class="btn btn-warning">🏆 Žebříček</a>
    <title>Fantasy League - Hráči</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Seznam Hráčů NHL</h1>
    <a href="/my-team" class="btn btn-secondary">Zpět na Můj Tým</a>
</div>

<div th:if="${param.error}" class="alert alert-danger">
    <span th:text="${param.error}">Chyba</span>
</div>

<a href="/import-players" class="btn btn-primary mb-3">Aktualizovat data z NHL</a>

<table class="table table-striped table-hover align-middle">
    <thead class="table-dark">
    <tr>
        <th>Jméno</th>
        <th>Tým</th>
        <th>Pozice</th>
        <th>Akce</th> </tr>
    </thead>
    <tbody>
    <tr th:each="player : ${playersList}">
        <td th:text="${player.firstName} + ' ' + ${player.lastName}">Jméno</td>

        <td th:text="${player.teamName}">Tým</td>

        <td>
                    <span th:text="${player.position}"
                          class="badge"
                          th:classappend="${player.position == 'G'} ? 'bg-warning text-dark' : 'bg-secondary'">
                        POS
                    </span>
        </td>

        <td>
            <form th:action="@{/add-player}" method="post">
                <input type="hidden" name="playerId" th:value="${player.id}" />
                <button type="submit" class="btn btn-sm btn-success fw-bold">
                    + Draft
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>